//------------------------------------------------------------------------------
//	Button Settings
//------------------------------------------------------------------------------

.button{
	@extend .rubik;
	@include uppercase();
	display: inline-block;
	padding: .75em 1.5em;
	border-radius: 3px;

	&.primary{
		background: $gold;
		color: $white;

		&:hover{
			color: $white;
			text-decoration: none;
			background: $purple-faded;
		}
	}

	&.secondary{
		color: $gold;
		background: $white;
		border: 2px solid $gold;

		&:hover{
			color: $purple;
			border: 2px solid $purple;
			text-decoration: none;
		}
	}
}