.we-are{
	position: absolute;
	bottom: 0;
	width: 100%;
	background: rgba(255,255,255, 0.75);
	text-align: center;

	h1{
		padding: 20px 0;
		margin: 0;
	}
}

.we-are-container{
	@include clearfix();
	overflow: hidden;
}

.we-are-container_cell{
	width: 100%;
	text-align: center;
	padding-top: 25px;

	img{
		 display: block;
		 margin: 0 auto;
	}

	a{
		display: block;
		height: 100%;
		width: 100%;

		&:hover{
			text-decoration: none;
			color: $white;
		}
	}

	&.white{
		background: white;
		color: $body;
		opacity: 0.7;
		@include transition-medium();
	}

	&.salmon{
		background: $salmon-we;
		color: $body;
		@include transition-medium();
	}

	&.teal{
		background: $teal-we;
		color: $body;
		@include transition-medium();
	}

	&.purple{
		background: $purple-we;
		color: $body;
		@include transition-medium();
	}

	@media screen and (min-width: 60em){

		display: block;
		float: left;
		height: 200px;
		position: relative;
		width: 33.333333333333333333333%;

		&:nth-child(2),
		&:nth-child(3){
			&:before{
				content: '';
				display: block;
				width: 0;
				height: 0;
				border-style: solid;
				border-width: 100px 0 100px 50px;
				position: absolute;
				top: 0;
				left: 0;
				border-color: transparent transparent transparent $white;
				z-index:10;
			}
		}

		img{
			height: 50px;
		}

		&.white{
			&:after{
				content: '';
				display: block;
				width: 0;
				height: 0;
				border-style: solid;
				border-width: 100px 0 100px 50px;
				position: absolute;
				top: 0;
				right: -50px;
				border-color: transparent transparent transparent $white;
				z-index: 1000;
			}

			&:hover{
				opacity: 1;

				&:after{
					border-color: transparent transparent transparent $white;
				}
			}
		}

		&.salmon{
			&:after{
				content: '';
				display: block;
				width: 0;
				height: 0;
				border-style: solid;
				border-width: 100px 0 100px 50px;
				position: absolute;
				top: 0;
				right: -50px;
				border-color: transparent transparent transparent $salmon-we;
				z-index: 1000;
				@include transition-medium();
			}

			&:hover{
				background: $salmon;
				color: $white;

				&:after{
					border-color: transparent transparent transparent $salmon;
				}

				a,
				h4,
				.hover-text{
					color:$white;
				}
			}
		}

		&.teal{
			&:after{
				content: '';
				display: block;
				width: 0;
				height: 0;
				border-style: solid;
				border-width: 100px 0 100px 50px;
				position: absolute;
				top: 0;
				right: -50px;
				border-color: transparent transparent transparent $teal-we;
				z-index: 1000;
				@include transition-medium();
			}

			&:hover{
				background: $teal;
				color: $white;

				&:after{
					border-color: transparent transparent transparent $teal;
				}

				a,
				h4,
				.hover-text{
					color:$white;
				}
			}
		}

		&.purple{
			&:after{
				content: '';
				display: block;
				width: 0;
				height: 0;
				border-style: solid;
				border-width: 100px 0 100px 50px;
				position: absolute;
				top: 0;
				right: -50px;
				border-color: transparent transparent transparent $purple-we;
				z-index: 1000;
				@include transition-medium();
			}

			&:hover{
				background: $purple;
				color: $white;

				&:after{
					border-color: transparent transparent transparent $purple;
				}

				a,
				h4,
				.hover-text{
					color:$white;
				}
			}
		}
	}
}

.my-slider{
	padding: 25px 0 5px 0;
}

.contact-content{
	color: $white;

	h3{
		@include rem(font-size, 5rem);
		color: $white;
	}

	p{
		@include rem(font-size, 2.4rem);
	}
}

.home form{
	@extend .rubik;
	background: transparent;
	padding: 1.5em;
	color: $white;
	text-align: left;
	max-width: 900px;
	margin: 0 auto;

	.submit{
		padding: 0;

		img{
			position: absolute;
			top: 10px;
			roght: 10px;
		}
	}

	.form-row div{
		margin: 0 0 1em 0;
	}

	label{
		@include uppercase();
		margin: 0;
		padding: 0 0 .25em 0;
	}

	.button{
		display: block;
		width: 100%;
		padding: .75em 1.5em;
		border-radius: 3px;

		&:hover{
			background: $white;
			color: $purple;
		}
	}

	@media screen and (min-width: 46em){
		.form-row div.half{
			display: block;
			width: 45%;
			float: left;
			margin: .5em 2.5%;
		}

		.form-row div.full{
			display: block;
			width: 95%;
			margin: .5em 2.5%;
			float: left;
		}
	}
}

.home h2{
	@include rem(font-size, 5rem);
	margin-top: 0;
}

.home .tout{
	color: $white;
	text-align: left;

	.ws-intro{
		padding-bottom: 45px;

		@media screen and (min-width:46em){
			padding-right: 50%;
		}
	}

	h2{
		margin-top: 0;
		color: $white;
	}

	p{
		@extend .dosis;
		@include rem(font-size, 2.4rem);
	}

	.logo-container{
		padding: 0;
		list-style-type: none;
		display: table;

		li{
			display: table-cell;
			vertical-align: middle;
			padding:0 30px 0 0;

			img{
				display: block;
		    max-width: 80px;
		    max-height: 80px;
			}
		}
	}
}

.blog-intro{
	padding-bottom: 45px;

	h2{
		margin-top: 0;
		color: $teal;
	}
}

.we-influence{

	h2{
		color: $body;
	}

	p{
		@include rem(font-size, 2.4rem);
	}
}

.overflow{

	&_content{
		text-align: center;
	}

	&_image{
		margin: 0 auto;
		padding: 0 30px;
		margin-top: -100px;
	}

	@media screen and (min-width: 46em){
		&_content{
			float: right;
			text-align: right;
			width: 50%;
		}

		&_image{
			display: block;
			width: 50%;
			position: absolute;
			left: 10px;
			top: -20px;
		}
	}

	@media screen and (min-width: 64em){
		&_content{
			width: 45%;
		}
		&_image{
			display: block;
			width: 55%;
			position: absolute;
			left: 10px;
			top: -30px;
		}
	}
}